<div class="container mt-5">
  <div class="row justify-content-sm-center">
    <div class="col-sm-8">
      <h1>
        {{post?.title}}
      </h1>
      <h2 class="text-muted">By: {{post?.createBy}}</h2>
      <span class="badge">Posted {{post?.dateCreated}}</span>
      <span class="badge">Views: {{post?.viewCount}}</span>
      <hr style="background-color:white">
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-8">
      <div [innerHTML]="post?.textBody | marked"></div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-8">
      <hr style="background-color:white">
      <h3>Comments</h3>
    </div>
  </div>
</div>

