<div class="container mt-5 p-5">
  <div class="row justify-content-sm-center">
    <div class="col-sm-8">
      <h1 class="display-1">Blog</h1>
      <button type="button" class="btn btn-outline-success btn-lg" (click)="navigateToAdmin()">Create Post</button>
    </div>

    <div class="col-sm-8">
        <div *ngFor="let post of blogPosts">
          <h3 class="mt-5"><a [routerLink]="['/blogPost', post.id]">{{post.title}}</a></h3>
          <h4 class="mt-2">Author: {{post.createBy}}</h4>
          <div>
            <span class="badge">Posted: {{post.dateCreated}}</span>
          </div>
        </div>
    </div>
  </div>
</div>

